* {
    box-sizing: border-box;
}

.visible-container {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.ghost-container {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    color:  aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}